@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  text-align: center;
}

header {
  margin-bottom: 50px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 44px;
}

.todos {
  text-transform: capitalize;
  font-size: 24px;
}

input {
  margin: 15px;
  border: 0;
  border-bottom: 2px solid black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 10px;
}

.myButton {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 26px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.container {
  text-align: center;
  border: 1px solid #476e9e;
  height: 100%;
}

button {
	border-radius:10px;
	cursor:pointer;
	margin: 5px;
	padding: 10px;
	background: red;	
}